<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='order_style.css')}}"
  />
    <title>Customer Order</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <section id="order">
      <p>
        <b>Order Date - {{ order.order_date }}
      </p>
      <section id="border">
        <p><u><b> Items: </b></u></p>
        <p>
         Artist: {{ order.artist_name }} 
         <br>Album: {{ order.record_title }} 
         <br>Quantity: {{ order.quantity }}
        </p>
       </section>
    <hr>
    </section>
    <button><a href="/orders">Back</a></button>
</body>
</html>